/* styles based on https://github.com/machadop1407/react-firebase-blog-website/blob/main/src/App.css */

.postList {
  list-style: none;
}

.post {
  width: 600px;
  height: auto;
  max-height: 600px;
  background-color: rgb(250, 250, 250);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 1.25rem;
  border-radius: 1rem;
}

.postHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  padding: 1.25rem;
  border-bottom: 2px solid;
}
.postTitle {
  font-size: 1.25rem;
}

.postBody {
  padding: 1.25rem;
  word-wrap: break-word;
  height: auto;
  max-height: 400px;
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
}
.postFooter {
  height: 25px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem;
  width: 100%;
  color: white;
  padding: 1.25rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.postActions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
  gap: 1rem;
}

.postActions button {
  margin: 0.5rem;
  padding: 0.5rem;
  border: none;
  color: white;
  background-color: transparent;
  font-size: 1.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.postActions a {
  color: white;
  text-decoration: none;
  font-size: 1.75rem;
}
